@model ForgotPasswordViewModel

@Html.LabelFor(m => m.Email, " ", new { @class = "control-label col-md-2 col-md-offset-2" })

@{
    ViewData["Title"] = "Forgot your password?";
}

<body class="background">
<div class="raised-box-center">
    <div class="row">
        <div class="col-md-4 raisedbox">
            <h2>@ViewData["Title"]</h2>
            <h4>Enter your email.</h4>
            <hr />
            <form asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <br />
                    <input asp-for="Email" class="form-control input-center" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default button-size">Submit</button>
                <div class="form-group spacing">
                    <p>
                        <a asp-action="Login">Already have an account?</a>
                    </p>
                    <p>
                        <a asp-action="Register">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
